<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.GoodsDetailsDao">

    <insert id="addGoodDetails" parameterType="GoodsDetails">
        INSERT INTO GoodDetails(goodsid, images, description, collections, contact, createdAt)
        VALUES (#{goodsid}, #{images}, #{description}, #{collections}, #{contact}, now())
    </insert>

    <delete id="deleteGoodDetailsById" parameterType="GoodsDetails">
        DELETE
        FROM GoodDetails
        WHERE goodsid = #{goodsid}
    </delete>

    <update id="updateGoodDetails" parameterType="GoodDetails">
        UPDATE GoodDetails SET
        images = #{images},
        description = #{description},
        collections = #{collections},
        contact = #{contact}
        WHERE
        goodsid = #{goodsid}
    </update>

    <select id="queryGoodDetailsById" parameterType="String" resultType="GoodDetails">
        SELECT * FROM
        GoodDetails
        WHERE goodsid = #{goodsid}
    </select>

</mapper>