<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.GoodsDao">
    <resultMap id="GoodList" type="com.entity.Good">
        <id property="userid" column="userid"/>
        <result property="avatar" column="avatar"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="grade" column="grade"/>
        <result property="school" column="school"/>
        <result property="major" column="major"/>
    </resultMap>
    <select id="queryGoodsByTitle" resultMap="GoodList" parameterType="java.lang.String">
    SELECT *
    FROM GOOD
    WHERE title LIKE #{title}
    </select>

    <select id="queryUserCollectionGoods" resultMap="GoodList" parameterType="java.lang.String">
    SELECT *
    FROM GOOD
    WHERE(SELECT FROM)
    </select>

    <select id="queryUserPublishGoods" resultMap="GoodList" parameterType="java.lang.String">
    SELECT *
    FROM GOOD
    WHERE userid=#{userid}
    </select>

    <select id="queryGoodsById" resultMap="com.entity.Good" parameterType="java.lang.String">
    SELECT *
    FROM GOOD
    WHERE goodid=#{goodid}
    </select>

    <delete id="deleteGoods" parameterType="java.lang.String">
    DELETE
    FROM GOOD
    WHERE goodid=#{goodid}
    </delete>

    <insert id="addGoods" parameterType="com.entity.Good">
    INSERT
    INTO GOOD
    VALUES
    </insert>

    <update id="">
    UPDATE GOOD
    SET
    WHERE goodid=#{goodid}
    </update>

    <select id="queryGoodsDetailsById" resultType="com.entity.Good" parameterType="java.lang.String">


    </select>

</mapper>