<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.GoodDao">

    <insert id="addGoodDetails" parameterType="GoodsDetails">
        INSERT INTO GoodDetails(goodsid, images, description, collection, contact)
        VALUES (#{goodid}, #{imgs}, #{description}, #{collections}, #{contact})
    </insert>

    <delete id="deleteGoodDetailsById" parameterType="GoodsDetails">
        DELETE
        FROM GoodDetails
        WHERE goodid=#{goodid}
    </delete>

    <update id="updateGoodDetails" parameterType="GoodDetails">
        UPDATE GoodDetails SET
        images = #{imgs},
        description = #{description},
        collection = #{collections},
        contact = #{contact}
    </update>

    <select id="queryGoodDetailsById" parameterType="String" resultType="GoodDetails">
        SELECT * FROM
        GoodDetails
        WHERE goodsid = #{id}
    </select>
</mapper>