<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.GoodDao">

    <insert id="addSupplyDetails" parameterType="SupplyDetails">
        INSERT INTO SupplyDetails(supplyid, imaes, description, collection, contact)
        VALUES (#{supplyid}, #{imgs}, #{description}, #{collections},#{contact})
    </insert>

    <delete id="deleteSupplyDetailsById" parameterType="String">
        DELETE FROM SupplyDetails
        WHERE supplyid = #{id}
    </delete>

    <update id="updateSupplyDetails" parameterType="SupplyDetails">
        UPDATE SupplyDetails SET
        images = #{imgs},
        description = #{description},
        collection = #{collection},
        contact = #{contact}
    </update>

    <select id="querySupplyDetailsById" parameterType="String" resultType="SupplyDetails">
        SELECT * FROM SupplDetails
        WHERE supplyid = #{id}
    </select>
</mapper>